.tag {
    flex-grow: 1;
    flex-basis: 100px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s;

    &:hover {
        filter: brightness(0.6);
    }
}