@import '../../styles/variables';

.button {
    border: none;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    background-color: $primary;
    color: $white;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    font-weight: 800;

    &:hover {
        background-color: $white;
        color: $primary;
    }

    @media (min-width: 768px) {
        padding: 1rem 2rem;
    }
}