@import '../../styles/variables';

.home {
    height: 100vh;
    padding: 1.5rem;
    text-align: center;

    & h2 {
        color: $orange;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        justify-items: center;
        padding: 1.5rem;
    
        @media (min-width: 992px) {
            gap: 5rem;
        }
    }
}