@import '../../styles/variables';

.home {
    text-align: center;

    & h2 {
        color: $orange;
        margin-top: 1.5rem;
    }
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 0.5rem;
}