@import '../../styles/variables';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
    max-width: 250px;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 1rem;

    & img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}